node_modules/
public/uploads/
test.py
test.java
encode.bin
plainText.txt
cipher.txt
ciphervid.mp4
ciphervid.txt
decvid.mp4
videnc.bin
__pycache__/
audenc.bin
cipheraud.mpeg
decaud.mpeg
cipheraud.txt
extra/
twoderivative.txt